.userPhoto{
    max-width: 60px;
    display: block;
    width: 100%;
}
.selectedPage{
    color: red;
}
.pagination span{
    cursor: pointer;
    margin-right: 10px;
}
.preloader{
    width: 100px;
    height: 100px;
    display: block;
    background-color: transparent;
}