.dialogs{
    display: flex;
}
.dialogsTitle{
    font-size: 30px;
}
.usersName{
    margin-top: 15px;
    position: relative;
    padding-left: 15px;
}
.usersName.active{
    color: gray;
}
.usersName::before{
    content: '';
    position: absolute;
    left: 0;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin: auto;
    top: 0;
    bottom: 0;
    background-color: blue;
 }
.usersName a.active{
    color: gray;
}
.messages{
    margin-left: 50px;
}
.messagesItem{
    margin-top: 15px;
}